@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1000px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-text {
  background: linear-gradient(to right, #34D399, #4ADE80, #A78BFA); /* Adjust colors */
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient {
  background: linear-gradient(to right, #4ADE80, #A78BFA, #F472B6);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.5rem; /* Adjust font size for nav links */
  font-weight: bold;
}

footer {
  margin-top: 0; /* Removes any top margin */
}

@keyframes rotate-text {
  0%, 33% {
    content: ".m";
  }
  34%, 66% {
    content: ".py";
  }
  67%, 100% {
    content: ".cpp";
  }
}

.rotate-text::after {
  content: ".m";
  animation: rotate-text 3s infinite; /* Change every 3 seconds */
  font-size: inherit;
  display: inline-block;
  margin-left: 0.3em; /* Small space between static and animated text */
}

.nav-link {
  font-size: 1.5rem; /* Increase font size */
  font-weight: bold; /* Make text bold */
  color: #4ADE80; /* Default color */
  text-transform: uppercase; /* Optional: make it all caps */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth hover transition */
}

.nav-link:hover {
  color: #A78BFA; /* Hover color */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.nav-link.active {
  color: #F472B6; /* Active page color */
}
